.column {
    width: 420px;
    float: left;
  }

  .img{
      width: 200px;
      height: 250px;
  }
  h1{
      text-align: center;
      color: crimson;
      border:6px;
      padding: 6px;
  }
  h2,h3{
      text-align: center;
      color: darkmagenta;
      font-family: Arial, Helvetica, sans-serif;
  }